.cooked {
  .rss-onebox-description,
  .rss-onebox-summary {
    margin-top: 1em;
  }
}

.rss-onebox-display-name {
  &.is-disabled {
    .rss-onebox-display-name__url,
    .rss-onebox-display-name__meta,
    .rss-onebox-display-name__published {
      opacity: 0.5;
    }
  }

  &__url {
    font-weight: bold;
    word-break: break-all;
  }

  &__meta,
  &__not-read,
  &__saved {
    color: var(--primary-medium);
    font-size: var(--font-down-1);
  }

  &__error {
    color: var(--danger);
    font-size: var(--font-down-1);
  }

  &__edit {
    display: flex;
    gap: 0.5em;
    align-items: center;

    input {
      margin: 0;
      min-width: 12em;
    }
  }
}
